<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lktsu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LKApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ЛК ТулГУ"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LKTSU"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ContactsActivity"
            android:label="Контактные данные"></activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="Авторизация" />
        <activity
            android:name=".StatementsActivity"
            android:label="Заявления" />
        <activity
            android:name=".MarksActivity"
            android:label="Успеваемость" />
        <activity
            android:name=".ScheduleActivity"
            android:label="Расписание" />
        <activity android:name=".MoreActivity" />
        <activity
            android:name=".NewsActivity"
            android:label="Новости" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>